.NavBar::-webkit-scrollbar {
  width: 8px;
}

.NavBar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.NavBar::-webkit-scrollbar-thumb {
  background: #c0c0c0;
  border-radius: 10px;
}

.NavBar::-webkit-scrollbar-thumb:hover {
  background: #c0c0c0;
}
